{% extends 'base.html' %}
{% block title%}Detail{% endblock%}
    {% block content%}
<div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Имя пользователя: {{user_obj.username}}</h5>
          <p>Имя: {{user_obj.first_name}}</p>
          <p>Фамилия: {{user_obj.last_name}}</p>
          <p>Почта: {{user_obj.email}}</p>
        <div class="links">
            <a href="{% url 'user_update' user_obj.pk %}" class="btn btn-secondary">Редактировать</a>
            <a href="{% url 'password_change' user_obj.pk %}" class="btn btn-secondary">Смена пароля</a>
        </div>
        </div>
      </div>
      <div class="reviews-list">
        <h1> Отзывы пользователя </h1>
        <div class="row">
            {% for review in user.reviews.all %}
              <p>{{review.text}}</p>
              <p>Оценка {{review.rating}}</p>     
              <a href="{% url 'update_review' review.pk %}"  class="btn btn-secondary">Редактировать отзыв</a> 
              <a href="{% url 'delete_review' review.pk %}"  class="btn btn-secondary">Удалить</a> 
            {% empty %}
            <p>Нет отзывов</p>
          {% endfor %}
        </div>
    </div>
    </div>
  {% endblock %}