
{% extends 'base.html' %}
{% block title%}Detail{% endblock%}
    {% block content%}
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            {% if product.image %}
                <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="img">
            {% else %}
                <img src="https://xn--90aha1bhcc.xn--p1ai/img/placeholder.png" class="img-fluid rounded-start" alt="img">
            {% endif %}
            </div>
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p>Категория: {{product.get_category_display}}</p>
              {%if product.description%}
                <p>Описание: {{product.description}}</p>
              {% endif %}
              {% if product.avg_ratings.rating__avg%}
              <p>Средняя оценка: {{product.avg_ratings.rating__avg}}</p>
              {% else %}
              <p>Средняя оценка: 0 </p>
              {% endif %}
            <div class="task-links">
            {% if user.is_authenticated%}
                {% if perms.webapp.change_review or review.author == request.user %}  
                <a href="{% url 'product_update' product.pk %}" class="btn btn-secondary">Редактировать</a>
                {% endif %}
                {% if perms.webapp.change_review or review.author == request.user %}
                <a href="{% url 'delete_product' product.pk %}"  class="btn btn-secondary">Удалить</a>
                {% endif %}
                <a href="{% url 'add_review' product.pk %}"  class="btn btn-secondary">Добавить отзыв</a>
            {% endif %}
            </div>
            </div>
          </div>
        </div>
      </div>
      <h5> Отзывы </h5>
      <div class="reviews-list">
          <div class="row">
              {% for review in product.reviews.all %}
                <a href="{% url 'account' review.author.pk %}">{{review.author.username}} | {{review.author.email}}</a>
                <p>{{review.text}}</p>
                <p>Оценка {{review.rating}}</p>
                
                {% if perms.webapp.change_review or review.author == request.user %}     
                <p><a href="{% url 'update_review' review.pk %}"  class="btn btn-secondary">Редактировать отзыв</a></p>
                {% endif %}
                {% if perms.webapp.delete_review or review.author == request.user %}     
                <p><a href="{% url 'delete_review' review.pk %}"  class="btn btn-secondary">Удалить</a></p>
                <hr>
                {% endif %}
              {% empty %}
              <p>Нет отзывов</p>
            {% endfor %}
          </div>
      </div>
      </div>
    {% endblock %}