{% extends "base.html" %}
{% block title %}Delete{% endblock %}
{% block content %}
<div class="delete-form">
    <form method="POST" action="{% url 'delete_review' review.pk %}" class="text-center">
        <h3>Вы уверены что хотите удалить отзыв"{{ review.author.username }}"?</h3>
        {% csrf_token %}
        <input type="submit" value="Удалить" class="btn btn-secondary link">
        <a href="{% url 'product_detail' review.product.pk %} " class="btn btn-secondary link">Отмена</a>
    </form>
</div>
{% endblock %}